.coinContainer {
  background-color: #f0edcc;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.5s linear, transform 0.5s linear;
}

.coinContainer:hover {
  transform: scale(1.1);
}

.closeButton {
  position: relative;
  top: -15px;
}

.nocoin {
}

.coin {
  font-size: 20px;
  font-weight: 300;
  word-wrap: break-word;
}

.coinTitle {
  border-bottom: 1px solid black;
}
