.nav {
  display: flex;
  justify-content: space-between;
  height: 60px;
  border-bottom: 1px solid black;
}

.nav_left{
  display: flex;
  justify-content: center;
}

.nav_right{
  display: flex;
  justify-content: flex-end;
}

.nav_icon {
  height: 50px;
  width: 50px;
  margin: 5px;
}

.nav_title {
  margin: 5px;
  font-size: 40px;
  font-weight: 300;
}
