.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.main_icons {
  margin-top: 50px;
  padding: 50px;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-template-rows: repeat(2, minmax(200px, 1fr));
  grid-gap: 50px;
}

@media screen and (max-width: 1090px) {
  .main_icons {
    grid-template-columns: 1fr;
    grid-template-rows: none;
    width: 100%;
  }
}

.main_icon {
  background-color: lightblue;
  border-radius: 5px;
  text-align: center;
  transition: all 0.5s linear;
  text-decoration: none;
}

.main_icon:hover {
  transform: scale(1.1);
}

.main_iconImg {
  margin-top: 20px;
  width: 128px;
  height: 128px;
}

.main_iconTitle {
  color: black;
  font-size: 25px;
  font-weight: 300;
}
