.football_container {
  display: flex;
}

/* Football SideBar */
.football_sidebar {
  height: 100%;
  border-right: 1px solid black;
  padding-right: 5px;
  cursor: pointer;
}

.sidebar_button {
  width: 100%;
  height: 100px;
  display: block;
  font-size: 40px;
  font-weight: 100;
  background-color: #f0edcc;
}

.sidebar_selectedButton {
  width: 100%;
  height: 100px;
  display: block;
  background-color: #02343f;
  font-size: 40px;
  color: white;
}

/* Standing */
.standing_container {
  width: 100%;
  display: block;
  padding: 10px;
  background-color: #eff3f7;
}

.standing_teams {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  grid-column-gap: 50px;
  grid-row-gap: 100px;
}

@media screen and (max-width: 1090px) {
  .standing_teams {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}

.standing_team {
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  text-align: center;
  transition: all 0.5s linear;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.standing_team_champions {
  background-color: lightblue;
}
.standing_team_europa {
  background-color: lightgreen;
}
.standing_team_relegate {
  background-color: lightcoral;
}

.standing_team:hover {
  transform: scale(1.1);
}

.standing_team_logo {
  max-width: 300px;
  height: 150px;
}

.standing_team_info {
}
