.standing_container {
  padding: 10px;
  background-color: white;
}

.standing_teams {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  grid-column-gap: 50px;
  grid-row-gap: 100px;
}

@media screen and (max-width: 1090px) {
  .standing_teams {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}

.standing_team {
  padding: 10px;
  border: 1px solid black;
  text-align: center;
  transition: all 0.5s linear;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.standing_team:hover {
  transform: scale(1.1);
}

.standing_team_logo {
  max-width: 300px;
  height: 150px;
}

.standing_team_info {
}
